@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
@import 'src/assets/styles/variables.scss';

:root {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    line-height: normal;

    color-scheme: light dark;
    color: $black;
    background-color: $white;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

::-webkit-scrollbar {
    width: 9px;
    height: 7px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: $gray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: $gray2;
}